/* reinicio de estilos */

/* reinicio general */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
label,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* ajustes básicos */

body {
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* reinicio de elementos estructurales */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* reinicio de elementos de formulario */

input,
textarea {
  outline: none;
}

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* reinicio de elementos de lista */

ul,
ol {
  padding: 0;
}

li {
  list-style: none;
}
